# DigitalOcean token used to build and deploy reverse proxy
do_token = "DIGITALOCEAN_TOKEN"

# DigitalOcean region
do_region = "DIGITALOCEAN_REGION"

# Public IP of reverse_proxy. Needs to be created via digitalocean console.
reverse_proxy_public_ip = "IP_ADDRESS"

# Private key for wireguard server
wireguard_server_private_key = "PRIVATE_KEY"

# Public keys for other devices
nuc_public_key = "PUBLIC_KEY"
desktop_public_key = "PUBLIC_KEY"
mac_public_key = "PUBLIC_KEY"